.App {
  background-color: #383838;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.titlecard{
  text-align: center;
  font-size: 25px;
}

.title-bud {
  color: #085D05;
}

.title-wiser {
  color: #121BC0;
}

.title-subtitle {
  color: black;
  font-size: 14px;
}

.Login {
  width: 40%;
  margin: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.login-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Signup {
  width: 40%;
  margin: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.directions-subheader {
  text-align: center;
  margin-bottom: 50px;
  color: #121BC0;
  font-size: 22px;
}

.directions-header {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.result-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(319px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 10px;
  max-width: 80%;
  margin: auto;
}

.deleteBtn {
  position: bottom;
  border-radius: 50px;
  font-size: 10px;
}

.budbook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  border-radius: 3px;
  background-color: #121BC0;
  box-shadow: 5px 1px 19px #00000030;
  color: white;
  width: 100%;
  /* margin: auto; */
  height: 200px;
}

.budbook-inner{
  font-size: 12px;
  color: white;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: row;
  border: 2px #002200;

}

/* .budbook.active {
  position: fixed;
  background-color: #085D05;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */


.budbook-inner:hover {
  background-color: #121BC0;
  border-radius: 3px;
  border: 2px #002200;
  cursor: pointer;
  margin-top: -50px;
  height: 120%;
  width: 120%
}

h2{
  color: black;
  border:white;
}

nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

form {
  width: 40%;
  margin: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input[type='text'],
form input[type='submit'],
select {
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #dcd5d5;
  background-color: white;
  color: #383838;
  min-width: 400px;
}


form input[type='submit'] {
  width: 150px;
  padding: 10px;
  background-color: #085D05;
  color: white;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease;
}

input[type='submit']:hover,
.searchAllBtn:hover {
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid #121BC0;
}

.loader {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}

.loader .loader-progress {
  background-color: #121BC0;
  height: 100%;
  width: 2%;
  animation: loading;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}


@keyframes loading {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  form {
    width: 80%;
  }

  form input[type='text'],
  form input[type='submit'],
  select {
    min-width: 300px;
  }
}
