.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  border-radius: 3px;
  background-color: #6f6c6c6b;
  box-shadow: 5px 1px 19px #00000030;
  color: white;
}

.result-name-type {
  margin: 20px 0px;
}

.result.active {
  position: fixed;
  background-color: #0b582d;
  top: 0;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.result:hover {
  background-color: #0b582d;
  cursor: pointer;
}

h1 {
  margin: 0;
}

.result-effect {
  height: 0px;
  overflow: hidden;
}
.result-name-type {
  flex: 1;
  padding-left: 25px;
}
.result-effect.active {
  height: 102%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-left: 1px solid;
  padding: 0px 25px;
}

.result-effect.active h4 {
  margin-bottom: 0px;
}
